# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Developpement\m1-algos-exploration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
